@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import "reset.css";
@import "status-bar.css";

body {
  font-family: "Nanum Gothic", sans-serif;
}

.welcome-header {
  margin: 90px 0px;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: large;
}
.welcome-header__text {
  width: 60%;
}
