.screen-header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.screen-header__title {
    font-size: 32px;
    font-weight: 500;
}

.screen-header__icons span {
    margin-top: 10px;
    margin-left: 20px;
    

}